body, html {
    font-family: 'Arial', sans-serif;
    background-color: #ecd1c5;
    color: #333;
    margin: 0;
    padding: 0;
}

header, footer {
    background-color: #feecde;
    padding: 20px 0;
    text-align: center;
}

nav ul {
    padding: 0;
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 20px;
}

nav ul li a {
    text-decoration: none;
    color: #377081;
    background-color: #ffffff;
    padding: 10px 20px;
    border-radius: 5px;
}

.banner-area .banner {
    background-color: #648e9b;
    height: 200px;
    margin: 20px;
}

.content-area {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0 20px;
}

.content-area .content-block {
    background-color: #9db4c0;
    flex-grow: 1;
    height: 100px;
    margin: 10px;
}

.content-area .content-block.small {
    flex-basis: 20%;
}

.content-area .content-block.large {
    flex-basis: 100%;
    height: 200px;
}

.opinion-area {
    display: flex;
    justify-content: space-around;
    margin: 20px;
}

.opinion-area .opinion {
    background-color: #c8e6c9;
    width: 48%;
    height: 100px;
}

footer {
    background-color: #feecde;
    padding: 10px 0;
}
