/* General Body Styles */
body, html {
    font-family: 'League Spartan', sans-serif;
    background-color: #ecd1c5;
    color: #333;
}

/* Container adjustments */
.container-fluid {
    padding: 20px;
}

/* Sidebar styles */
.filter-sidebar {
    border-right: 1px solid #ccc;
    padding-right: 20px;
}

/* Card filter image styles */
.filter-card-image {
    height: 30px;
    width: auto;
    margin-right: 10px;
}

.form-check-label {
    display: flex;
    align-items: center;
    margin-left: 5px;
}

/* Input and button styles */
.form-check-input {
    margin-right: 5px;
}

.filter-container button {
    width: 100%;
    margin-top: 20px;
}

/* Comment box styling */
.comment {
    background-color: #feecde;
    padding: 15px;
    margin-bottom: 15px;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.comment p {
    margin: 5px 0;
    line-height: 1.5;
}

/* Pagination links styling */
ul.pagination {
    display: flex;
    justify-content: center;
    list-style: none;
    padding: 0;
}

ul.pagination li a {
    color: #377081;
    padding: 5px 10px;
    text-decoration: none;
    border: 1px solid #377081;
    border-radius: 5px;
}

ul.pagination li.active a, ul.pagination li a:hover {
    background-color: #377081;
    color: white;
}
