.container {
    padding-top: 20px;
    padding-bottom: 20px;
}

.login-form {
    background-color: #feecde;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 4px 12px #8e7c74;
    margin-top: 20px;
    text-align: center;
}

.form-control {
    background-color: #648e9b;
    color: #fff;
    border-radius: 5px;
    border: 1px solid #ccc;
    padding: 10px;
    text-align: center;
}

input::placeholder,
textarea::placeholder {
    color: #fff !important;
}

.form-control:focus {
    background-color: #8bb4c0;
    color: #fff;
    border-color: #254d59;
    outline: none;
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1);
}

.btn-primary {
    background-color: #377081;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    box-shadow: 0 2px 4px #8e7c74;
    --bs-btn-hover-bg: #254d59;
    --bs-btn-active-bg: #254d59;
    display: block;
    width: 100%;
}

.btn-primary:hover {
    background-color: #254d59;
}

.d-grid .btn-block {
    width: auto;
}
