.content {
    padding: 20px;
    max-width: 800px;
    margin: auto;
    background-color: #feecde;
    box-shadow: 0 2px 15px rgba(0,0,0,0.1);
    border-radius: 8px;
}

.content h1 {
    color: #377081;
}

.content p {
    font-size: 16px;
    color: #666;
    line-height: 1.6;
}
