
body,
html {
    font-family: "League Spartan";
    background-color: #ecd1c5;
    color: #333;
}

.navbar {
    background-color: #feecde !important;
    box-shadow: 0 2px 5px #8e7c74;
}

.nav-link {
    padding: 8px 15px;
    background-color: #377081;
    color: #ffffff;
    border-radius: 4px;
    transition: background-color 0.3s ease;
}
.navbar-nav {
    display: flex;
    gap: 20px;
}

.nav-link:hover,
.nav-link.active {
    background-color: #254d59;
    color: #fff;
}

.login-image img {
    width: 100%;
    height: auto;
    border-radius: 8px;
}

.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.navbar-collapse {
    flex-grow: 0.5;
}

.login-form {
    background-color: #feecde;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 4px 12px #8e7c74;
    margin: 20px;
    text-align: center;
}

.form-control {
    background-color: #377081;
    color: #fff;
    border-radius: 5px;
    border: 1px solid #ccc;
    padding: 10px;
    text-align: center;
}

input::placeholder {
    color: #fff !important;
}
.btn-primary {
    background-color: #377081;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    box-shadow: 0 2px 4px #8e7c74;
    --bs-btn-hover-bg: #254d59;
    --bs-btn-active-bg: #254d59;
    display: block;
    width: 50%;
    margin: 0 auto;
}
.navbar-nav .nav-item {
    margin-right: 20px;
}

.navbar-nav .nav-item:last-child {
    margin-right: 0;
}
.btn-link {
    background-color: transparent;
    color: #377081;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.navbar-nav {
    margin-top: 20px !important;
}


.btn-link:hover {
    background-color: #254d59 !important;
    box-shadow: 0 2px 4px #8e7c74;
}

.container {
    padding-top: 50px;
}

.form-control:active {
    background-color: #c8e6c9;
    color: #205723;
}

.form-control:focus {
    background-color: #377081; 
    color: #fff;
    border-color: #254d59;
    outline: none;
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1); 
}

.card {
 background-color: #254d59;
}