body,
html {
    font-family: "League Spartan", sans-serif;
    background-color: #ecd1c5;
    color: #333;
    margin: 0;
    padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Shrikhand", serif;
    text-align: center;
}

h1 {
    font-size: 60px;
}

.container {
    padding-top: 20px;
    padding-bottom: 20px;
}

.card {
    background-color: #feecde;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border: none;
    color: #333;
}

.card-body {
    padding: 20px;
}

.card-footer {
    background-color: transparent;
    border-top: none;
}

.card-img-top {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.btn-primary {
    background-color: #377081;
    border-color: #377081;
    color: #fff;
    padding: 10px 20px;
    border-radius: 5px;
    text-align: center;
    display: block;
    width: 100%;
}

.btn-primary:hover {
    background-color: #2c5561;
    border-color: #2c5561;
}

.pagination-container {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.pagination {
    display: flex;
    list-style: none;
    padding-left: 0;
}

.pagination li {
    margin: 0 5px;
}

.pagination li a,
.pagination li span {
    color: #377081;
    padding: 10px 15px;
    text-decoration: none;
    border: 1px solid #377081;
    border-radius: 5px;
    background-color: #feecde;
    transition: background-color 0.3s, color 0.3s;
}

.pagination li.active a,
.pagination li a:hover {
    background-color: #377081;
    color: white;
}

.pagination li.disabled span {
    color: #ccc;
    padding: 10px 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
}

.pagination {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.bg-white {
    padding: 8px 12px;
    margin: 0 5px;
    border-radius: 4px;
    text-decoration: none;
    color: whitesmoke;
    border: 1px solid #254d59 !important;
    background-color: #377081 !important;
}

.bg-white:hover {
    color: whitesmoke !important;
    background-color: #254d59 !important;
}
