body,
html {
    font-family: "League Spartan", sans-serif;
    background-color: #ecd1c5;
    color: #333;
    margin: 0;
    padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Shrikhand", serif;
}

.container {
    padding-top: 0 !important;
    padding-bottom: 0 !important;
}

.content-block {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    background: #feecde;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
}

.left-image-container,
.right-image-container {
    flex: 1 1 40%;
    padding: 10px;
    margin: 10px;
    overflow: hidden;
}

.left-image-container img,
.right-image-container img {
    width: 100%;
    height: auto;
    border-radius: 4px;
}

.right-content-container,
.left-content-container {
    flex: 1 1 58%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.btn-primary {
    padding: 10px 20px;
    margin-top: 15px;
    border-radius: 5px;
    background-color: #377081;
    color: white;
    border: none;
}

@media (max-width: 768px) {
    .content-block {
        flex-direction: column;
        text-align: start;
    }

    .left-image-container,
    .right-image-container {
        flex-basis: 100%;
    }

    .btn-primary {
        width: 80%;
    }
}

.small-image-container {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    overflow: hidden;
    position: absolute;
    top: -25px;
    left: 10px;
}

.small-image-container img {
    width: 100%;
    height: auto;
}

.content-block.small {
    position: relative;
    height: 150px;
    padding-top: 50px;
}

@media (min-width: 1200px) {
    .container-lg,
    .container-md,
    .container-sm,
    .container-xl {
        max-width: none !important;
    }
}

.left-image-container {
    background-color: #377081;
    border-radius: 10px;
    box-shadow: 6px 6px 16px 1px rgba(0, 0, 0, 0.3);
}
