.content-block {
    background-color: #feecde;
    border-radius: 10px;
}

.content-block.large {
    height: 300px;
    box-shadow: 6px 6px 16px 1px rgba(0, 0, 0, 0.3);
}

.content-block.medium {
    height: 150px;
    box-shadow: 6px 6px 16px 1px rgba(0, 0, 0, 0.3);
}

.content-block.small {
    height: 100px;
    margin-bottom: 10px;
    box-shadow: 6px 6px 16px 1px rgba(0, 0, 0, 0.3);
}

@media (min-width: 1200px) {
    .container, .container-lg, .container-md, .container-sm, .container-xl {
        max-width: none !important;
    }
}

.container {
    padding-top: 0 !important;
    padding-bottom: 0 !important;
    
}

.content-block.large {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 300px;
    padding: 20px;
    box-shadow: 6px 6px 16px 1px rgba(0, 0, 0, 0.3);
    width: 100%;
}

.left-image-container {
    width: 40%;
    height: 100%;
    margin-right: 20px;
    background-color: #377081;
    border-radius: 10px;
    box-shadow: 6px 6px 16px 1px rgba(0, 0, 0, 0.3);
}

.left-image-container img {
    width: 100%;
    height: auto;
    border-radius: 10px;
}

.right-content-container {
 display: flex;
    flex-direction: column; 
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 200px;
    width: 58%;
    height: 100%;
}

.image-container {
    width: 40%;
    height: 100%;
    margin-right: 20px;
}

.image-container img {
    width: 100%;
    height: auto;
    border-radius: 10px;
}